<mat-drawer-container hasBackrop="true">
  <mat-drawer #drawer mode="over">
    <app-drawer></app-drawer>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar [title]="'Proofing PWA'" (menu)="drawer.toggle()">
    </app-navbar>
    <mat-tab-group mat-stretch-tabs headerPosition="below" (selectedIndexChange)="onTabIndexChange($event)">
      <mat-tab label="main">
        <ng-template mat-tab-label>
          <mat-icon svgIcon="home"></mat-icon>
        </ng-template>
        HOME WORKS!!
      </mat-tab>
      <mat-tab label="preview">
        <ng-template mat-tab-label>
          <mat-icon svgIcon="play"></mat-icon>
        </ng-template>
        PREVIEW WORKS!!
      </mat-tab>
      <mat-tab label="chat">
        <ng-template mat-tab-label>
          <mat-icon svgIcon="chat"></mat-icon>
        </ng-template>
        CHAT WORKS!!
      </mat-tab>
      <mat-tab label="approve">
        <ng-template mat-tab-label>
          <mat-icon svgIcon="approve"></mat-icon>
        </ng-template>
        APPROVE WORKS!!
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
