<mat-drawer-container hasBackrop="true">
  <mat-drawer #drawer mode="over">
    <app-drawer></app-drawer>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar
      [title]="'Proofing PWA'"
      (menu)="drawer.toggle()">
    </app-navbar>
    <mat-tab-group mat-stretch-tabs headerPosition="below">
      <mat-tab label="main">
        HOME WORKS!!
      </mat-tab>
      <mat-tab label="preview"> Content 2 </mat-tab>
      <mat-tab label="chat"> Content 3 </mat-tab>
      <mat-tab label="approve">
        <ng-template mat-tab-label>
            <mat-icon>thumb_up</mat-icon>
          </ng-template>
        </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
